<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <style>
    body {
      font-family: 'Lobster', cursive;
      font-size: 48px;
      text-shadow: 4px 4px 4px #aaa;
    }
    </style>
  </head>
  <body>
    <h1>Helping the lazy urban gardener since 2015.</h1>
    <div class="logo">
      <%= image_tag 'Gnomely-logo.png' %>
    </div>
  <%= yield %>
  </body>
</html>

