<div class="plant <%= plant.needs_watering? ? "red": "green"%>">
  <h1><%= link_to plant.plant_name, plant %></h1>
  <% if plant.needs_watering?  %>
    <p>Plant needs watering </p>
  <% else %>
    <p>Plant is hydrated</p>
  <% end %>
</div>
  

