<div id="nav">
      <%= link_to "Back to Plant", @plant %>  |
      <%= link_to "My Plants", plants_path %> |
      <%= link_to "Logout", logout_path %>
</div>
<h1>Edit Plant</h1>

<%= render 'form' %>