<div id="nav">
      <%= link_to "My Plants", plants_path %> |
      <%= link_to "Logout", logout_path %>
</div>

<h1>My Plants</h1>
<p><%= link_to "Add New Plant", new_plant_path %></p>
<div id="plants">
  <%= render @plants %>
</div>