<div id="nav">
      <%= link_to "Add New Plant", new_plant_path %> |
      <%= link_to "My Plants", plants_path %> |
      <%= link_to "Logout", logout_path %>
</div>

<div class="background"></div>
<h1>My Plants</h1>
<div id="plants">
  <%= render @plants %>
</div>