<h1>Sending moisture reading</h1>
<%= form_tag(send_moisture_reading_plant_path(@plant), method: :PATCH) do %>
<div class="field">
    <%= label_tag :moisture_reading %><br />
    <%= number_field_tag :moisture_reading, @plant.moisture_reading%>
</div>
<div class="actions">
  <%= submit_tag %>
</div>
<% end %>
