@import "normalize";
@import "bourbon";
@import 'base/base';
@import "neat";
@import "jquery-ui";
@import "layout";
@import "plants";

#nav {
  background: white;
  position: absolute;
  height: 20px;
  display: block;
  width: 100%;
  margin: 0 auto;
  top: 200px;
  text-align: center;
  font-weight: bold;
  color: #3b5998;
}


