

div#nav{
  background: rebeccapurple;
  position: fixed;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: $nav-bar-height;
  color: black;
  font-size: 1.4rem;

  & > a {
    margin: 0;
    padding: 0;
    line-height: $nav-bar-height;
    font-size: 1.4rem;
  }

}

body {
  padding-top: $nav-bar-height;
}

body.pages.homepage {
  background-image: image-url('background1.jpg');
  background-size: 100%;
  background-repeat: no-repeat;

  h1 {
    font-family: 'Lobster', cursive;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 350px;
  }
}

body.user_sessions.new {
  background-image: url('background1.jpg'), url('background2.jpg');
  background-size: 100%;
  background-repeat: no-repeat;

}


  div#login {
    display: block;
    width: 100%;
    top: 200px;
    margin: 0 auto;
  }


  div#tabs {
   
    width: 50%;
    margin: 0 auto;
    bottom: 20px;
    box-shadow: 0 0 5px 10px rgba(0,0,0,0.2);

    
    label {
      height: 10px;
    }
  }

  div.field {
    display: block;
  }

  .background{
    width: 100%;
    height: 100%;
    background-image: url('Gnomely-logo.png');
    background-repeat: no-repeat;
    background-size: 700px;
    position: fixed;
    opacity: .4;
    background-position-x: 380px;
    
  }

body.plants.index {

    h1 {
    height: 100px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    display: block;
    position: relative;
    top: 30px;
    font-size: 40px;
  }

}



  div.logo {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 200px;
    background: white;

    border-radius: 100%;
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.5);
      img {
        display: block;
        width: 200px;
        margin: 0 auto;
      }
  }


