.logo {

  height: 40px;

  img{
    height: 100%
  }
}

body.user_sessions.new {
  background-image: image-url('background1.jpg');
  background-size: 100%;
  background-repeat: no-repeat;

  .field {
    display: block;
  }

  div#login {
    display: block;
    width: 100%;
    top: 200px;
    margin: 0 auto;
  }
}

  div.logo {
    margin-bottom: 20px;
      img {
        display: block;
        margin: 0 auto;
      }
    }
}