// Place all the styles related to the plants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.plant {
    padding: 0 1rem;
    background-color: transparent;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    margin-bottom: 1rem;

  @include media($medium-screen-only) {
    @include span-columns(2);
    @include omega(2n);
  }

  @include media($large-screen-up) {
    @include span-columns(4);
    @include omega(4n);
  }

  & > h1 {
    font-size: rem(30);
    line-height: 1 rem;
  }

  
}

 .red{
  background-color: lighten(red, 20%);
 }


 .green{
  background-color: lighten(green, 20%);
 }

  div#plant_image {
    
      img {
        display: block;
        width: 300px;
        margin-left: 20px;
        margin-top: 40px;
        position: relative;
        box-shadow: 0 0 50px 10px #298f10;
      }
  }
 .plant_info {
  padding: 0;
  background-color: transparent;
  display: block;
  margin-top: 40px;
  margin-left: 20px;
  position: relative;
  width: 50%;


 }