<div id="login">
  <h1>Login</h1>

  <div id="tabs">
    <ul>
      <li><a href="#login"><span>Login</span></a></li>
      <li><a href="#signup"><span>Sign Up</span></a></li>
    </ul>
    <div id="login">
      <%= render 'form' %>
    </div>
    <div id="signup">
      <%= render :partial => 'users/form' %>
    </div>
  </div>

  <script>
    $( "#tabs" ).tabs();
  </script>
</div>
